@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P';
    background-color: #010101;
    color: white;
}

html {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
    align-content: center;
    width: 50%;
}

.title, main {
    flex: 1;
    /* border: 1px solid red; */
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.weapons-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.selection {
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
}

.btn {
    padding: 10px;
    border-style: none;
    border: 1px solid white;
}

.game-results {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.results-1 {
    display: flex;
    flex-flow: column;
    gap: 12px;
}

.reset-btn-off {
    display: none;
}

.reset-btn {
    padding: 15px;
    width: 30%;
    align-self: center;
    font-size: 20px;

}

.selections-box {
    display: flex;
    justify-content: space-around;
}

.round-result-text {
    align-self: center;
}

.results-2 {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 500px) {
    body {
        font-size: 10px;
        width: 100%;
    }

    h1 {
        font-size: 15px;
    }

    .results-2 {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 15px;
    }

    .reset-btn {
        font-size: 15px;
    }
}